## Ignore Mac files
.DS_Store

# Allow for private, local functions
# sometimes a function would be very helpful, but should stay
# local to a work machine
stow/zsh/.config/zsh/functions/_*.zsh

stow/fish/.config/fish/fish_variables

# Any local shell config files
**/local.*

# Stow =========================================================================

## Neovim
stow/nvim/.config/nvim/lazy-lock.json

## Tmux
stow/tmux/.config/tmux/vendor
!stow/tmux/.config/tmux/vendor/.gitkeep
!stow/tmux/.config/tmux/vendor/*.sh
