**/local.*
nvim/bundle
nvim/local.vim
nvim/plugin
nvim/shada
nvim/eclim

# Allow for private, local functions
# sometimes a function would be very helpful, but should stay
# local to a work machine
bash/functions/_*.bash
zsh/functions/_*.zsh

.setup/get-pip.py
.setup/git-prompt.sh
.setup/javarepl.jar

# Things I'm not tracking
Thunar/
pulse/
xfce4/
htop/
heroku/
user-dirs.*
