*.csh linguist-language=Shell
nvim/UltiSnips/*.snippets linguist-language=Vim
xmonad/xmobarrc linguist-language=Haskell

nvim/autoload/plug.vim linguist-vendored
emacs/vendor linguist-vendored
.archive/* linguist-vendored
.archive/emacs/*.el linguist-vendored
