# vim: ts=2:sts=2:sw=2:noet
[user]
	name = Eric Hopkins
	email = eric.on.tech@gmail.com

[alias]
	aci = commit -am
	aliases = config --get-regex alias
	all = add .
	b = branch
	beyonce = config user.name
	bvv = branch -vv
	changes-in = diff-tree --pretty --no-commit-id --name-status -r
	ci = commit -m
	ccis = commit -S -m
	co = checkout
	cob = checkout -b
	d = diff
	deleteremote = push origin --delete
	down = push origin --delete
	graph = log --pretty --graph
	hist = log --oneline
	histv = log --oneline --pretty=format:'%C(yellow)%h%Creset %Cred%cn%Creset %s'
	live-dangerously = push --force
	m = merge
	mnff = merge --no-ff
	oops = commit --amend -C HEAD
	p = push
	plog = log --graph --pretty=format:'%Cred%h%Creset - %Cblue%cn%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev --date=relative
	poh = push origin HEAD
	s = status -s
	sq = !sh -c \"git rebase -i HEAD~$@\"
	squash = !sh -c \"git rebase -i HEAD~$@\"
	st = status
	r = rebase
	ri = rebase -i
	stage = add
	toremote = push -u origin
	tracking = branch -vv
	u = add -u
	up = push --set-upstream origin
	unci = reset --soft HEAD~1
	uncommit = reset --soft HEAD~1
	unstage = reset
	unstash = stash apply
	untrack = rm --cache
	whoami = config user.email

[push]
	default = simple
