[user]
	name = Eric Hopkins
	email = eric.on.tech@gmail.com
[alias]
	aci = commit -am
	aliases = config --get-regex alias
	all = add .
	b = branch
	beyonce = config user.name
	bvv = branch -vv
	ci = commit -m
  cis = commit -S -m
	co = checkout
	cob = checkout -b
	d = diff
	deleteremote = push origin --delete
	graph = log --pretty --graph
	hist = log --oneline
	m = merge
	mnff = merge --no-ff
	p = push
	plog = log --graph --pretty=format:'%Cred%h%Creset - %Cblue%cn%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev --date=relative
	poh = push origin HEAD
	s = status -s
	stage = add
	toremote = push -u origin
	tracking = branch -vv
	u = add -u
	unci = reset --soft HEAD~1
	uncommit = reset --soft HEAD~1
	unstage = reset
	unstash = stash apply
	untrack = rm --cache
	whoami = config user.email
