snippet func "Create a basic function" b
${1:name}: ${2:(args)} ${3:-}>
  ${0:#TODO: write code}
endsnippet

snippet ng_http "Angular http call" b
$http.${1:get}(${2:url}).then(${3:(args)} ${4:-}>
  ${0:#TODO: write code}
)
endsnippet

snippet class "Stub out a basic class" b
class ${1:ClassName}

  constructor: ${2:(args)} ->
    ${0:#TODO: write code}
endsnippet
