snippet if "If block" b
<% if ${1:condition} %>
	$0
<% end %>
endsnippet

snippet unless "Unless block" b
<% unless ${1:condition} %>
	$0
<% end %>
endsnippet

snippet link_to "Rails link_to" b
<%= link_to "${1:link_name}", ${2:whatever} %>$0
endsnippet

snippet f_print "Print a formtastic element" b
<%= f.${1:type} :$2, ${3:related_to}, class: "$0" %>
endsnippet

snippet f_activ "Formtastic activity" b
<%= activity_f.${1:input} :${2:name}, ${3:whatever} %>$0
endsnippet
