snippet func "Stubs out a function" b
${1:public }function ${2:functionName}($3) {
	${4:// TODO: write some code}
}
endsnippet

snippet class "Stubs out a class" b
class ${1:ClassName}${2: extends SomeClass} {
	function __construct($3) {
		${0:// TODO: some variables}
	}
}
endsnippet
