snippet unl "Unmap a leader key" b
unmap <silent><leader>$0
endsnippet

snippet sl "silent leader"
<silent><leader>$0
endsnippet

snippet bsl "buffer silent leader"
<buffer><silent><leader>$0
endsnippet

snippet bsll "buffer silent localleader"
<buffer><silent><localleader>$0
endsnippet
