/* Base styling */
* {
  border: none;
  border-radius: 0;
  font-family: "Departure Mono, Berkeley Mono, monospace";
  font-size: 13px;
  min-height: 0;
}

/* Main bar */
window#waybar {
  background-color: #004D5F; /* slightly darker than blue_fg; */
  color: #ebdbb2;
  transition-property: background-color;
  transition-duration: 0.5s;
}

/* Workspaces */
#workspaces {
  margin: 0 4px;
}

#workspaces button {
  padding: 0 6px;
  background-color: #282828;
  color: #928374;
  transition: all 0.3s;
}

#workspaces button:hover {
  background: #3c3836;
  color: #ebdbb2;
}

#workspaces button.urgent {
  background-color: #d79921;
  color: #282828;
}

#workspaces button.empty {
  background-color: #1d2021; /* slightly darker than fg0 */
}

#workspaces button.active {
  background-color: #004D5F;
  color: #fbf1c7;
}

/* Window title */
#window {
  margin: 0 4px;
  padding: 0 8px;
  color: #ebdbb2;
}

/* Clock */
#clock {
  background-color: #1d2021;
  color: #7c6f64;
  padding: 0 8px;
  /* border-bottom: 2px solid red; */ /* for testing */
}

/* CPU */
#cpu {
  background-color: #1d2021;
  padding: 0 8px;
  color: #7c6f64;
}
#cpu.low {
  color: #076678;
  border-bottom: 2px solid #076678;
}
#cpu.normal {
  color: #79740e;
}
#cpu.moderate {
  color: #b57614;
}
/* for high and critical, swap background and foreground */
#cpu.high {
  background-color: #af3a03;
  color: #1d2021;
}
#cpu.critical {
  color: #1d2021;
  background-color: #cc241d;
}

/* Memory */
#memory {
  background-color: #1d2021;
  color: #7c6f64;
  /* color: #a89984; */
  padding: 0 8px;
}
#memory.low {
  color: #076678;
  border-bottom: 2px solid #076678;
}
#memory.normal {
  color: #79740e;
  border-bottom: 2px solid #79740e;
}
#memory.moderate {
  color: #b57614;
  border-bottom: 2px solid #b57614;
}
/* for high and critical, swap background and foreground */
#memory.high {
  background-color: #af3a03;
  color: #1d2021;
}
#memory.critical {
  color: #1d2021;
  background-color: #cc241d;
}

/* System tray */
#tray {
  background-color: #3c3836;
  padding: 0 8px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #cc241d;
}

/* Audio */
/* not currently in use */
#pulseaudio {
  background-color: #1d2021;
  color: #427b58;
  min-width: 60px;
  border-bottom: 2px solid #427b58;
  padding: 0 12px;
}

#pulseaudio.muted {
  color: #928374;
  border-bottom: 2px solid #928374;
}

/* Network */
#network {
  background-color: #1d2021;
  /* color: #b16286; */
  color: #7c6f64;
  padding: 0 12px;
  min-width: 160px;
}

#network.disconnected {
  color: #cc241d;
  border-bottom: 2px solid #cc241d;
}

@keyframes blink {
  to {
    background-color: #1d2021;
  }
}

.modules-right {
  background-color: #7c6f64; /* slightly darker than fg0 */
}

/* Module spacing */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}
